//animation

@keyframes colorJungle {
  0% {
    color : #445555;
  }

  15%{
    color : #4e7638;
  }

  30% {
    color : #447777;
  }

  45%{
    color : #878236;
  }

  60%{
    color : #3f6687;
  }

  75%{
    color : #876462;
  }

  90%{
    color : #874513;
  }

  100% {
    color: #6c872e;
  }
}


